[submodule "compiler-rt"]
	path = profiler-rt/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
	shallow = true
[submodule "llvm"]
	path = profdata/llvm
	url = https://github.com/rust-lang/llvm.git
	shallow = true
